<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="stylesheet"
            href="/src/components/popup/windows-dialog.css"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Popup</title>
        <script
            type="module"
            src="/src/components/popup/popup.ts"
            defer
        ></script>
    </head>
    <body>
        <main>
            <div
                class="windows-notification"
                id="dialog1"
                data-tauri-drag-region
            >
                <header class="windows-bar" data-tauri-drag-region>
                    <p class="header-text" id="header-text">Nu te cred :p</p>
                    <button class="windows-close-btn" id="close-btn">✖</button>
                </header>
                <div class="windows-content">
                    <div class="body-header">
                        <p class="growing-element body-text" id="body-text">Siiiiiigur ii dai mesaj?</p>
                        <img src="/src/assets/emoji.png" class="emoji-img" />
                    </div>
                    <div class="window-btn-container">
                        <a class="grow-shake window-btn hidden rainbow-glow " id="yes-btn" href="" target="_blank">
                            <span>Daa</span>
                        </a>
                        <button class="window-btn hidden" id="wrong-btn">
                            <span>Nu...Cred</span>
                        </button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
