<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link
            rel="stylesheet"
            href="/src/components/popup/windows-dialog.css"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Popup</title>
        <script
            type="module"
            src="/src/components/popup/popup.ts"
            defer
        ></script>
    </head>
    <body>
        <main>
            <div
                class="windows-notification"
                id="dialog1"
                data-tauri-drag-region
            >
                <header class="windows-bar" data-tauri-drag-region>
                    <p class="header-text">Nu te crep :p</p>
                    <button class="windows-close-btn" id="close-btn">✖</button>
                </header>
                <div class="windows-content">
                    <p>Siiiigur?</p>
                    <div class="window-btn-container">
                        <button class="window-btn">Daa</button>
                        <button class="window-btn">Sigur</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
